@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #165FF2;
    --titulo: #165FF2;
    --branco: #ffff;
    --preto: black;
    --fonte1: "Montserrat", sans-serif;
    --fonte2: "Hind Madurai", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--preto);
    color: var(--branco);
}

/*Mobile First*/
header {
    background-color: var(--azul);
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main h1 {
    color: var(--titulo);
}

#about-me a {
    font-style: italic;
    font-weight: bolder;
    color: #277FF2;
}

#section-me p {
    margin: 15px;
}

#menu-desktop {
    display: none;
}

#menu-mobile.hidden {
    display: none;
}

#menu-mobile.visible {
    display: block;
    background-color: var(--branco);
    padding: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

main.hidden{
    display: none;
    transition: opacity 0.3s ease;
}

main.visible{
    display: block;
    transition: opacity 0.3s ease;
}

#back-arrow {
    background-image: url(assets/icons/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: var(--azul);
    border-radius: 40px;
    margin-top: 30px;
}

#menu-img-mobile {
    padding: 10px;
    margin: 10px;
}

#title {
    padding: 10px;
    margin: 10px;
}

#title>h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 25px;
}

#title>p {
    font-family: var(--fonte2);
    font-weight: lighter;
    font-size: 15px;
}

#div-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

#brazil-flag{
    background-image: url(./assets/icons/brasil.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#usa-flag{
    display: none;
    background-image: url(./assets/icons/united-states.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

/*Switch mobile*/
#label-checkbox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

#label-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider {
    background-color: var(--azul);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--azul);
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

.sections {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
}

.div-section {
    margin: 15px;
}

.sections h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 19px;
}

.sections p {
    font-family: var(--fonte2);
    font-size: 15px;
}

.projects {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background-color: var(--branco);
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.img-projects {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
}

.projects-description {
    display: flex;
    align-items: center;
    margin: 5px;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

a {
    font-family: var(--fonte2);
    text-decoration: none;
    color: var(--titulo);
    cursor: pointer;
}

footer {
    background-color: var(--azul);
    font-family: var(--fonte1);
    font-size: 10px;
    text-align: center;
    padding: 25px;
}